DRUPAL_DB_NAME=drupal
DRUPAL_DB_USER=
DRUPAL_DB_PASS=
DRUPAL_DB_ROOT_PASS=

RABBITMQ_HOST=integrationproject-2526s2-dag01.westeurope.cloudapp.azure.com
RABBITMQ_PORT=30000
RABBITMQ_USER=frontend_rabbitmq
RABBITMQ_PASS=
RABBITMQ_VHOST=/