FRONTEND_HTTP_PORT=30020

RABBITMQ_HOST=
RABBITMQ_PORT=30000
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_VHOST=/
RABBITMQ_PREFIX=frontend.

DRUPAL_DB_HOST=frontend_db
DRUPAL_DB_NAME=drupal
DRUPAL_DB_USER=
DRUPAL_DB_PASS=
DRUPAL_DB_ROOT_PASS=
