FRONTEND_HTTP_PORT=30020

RABBITMQ_HOST=integrationproject-2526s2-dag01.westeurope.cloudapp.azure.com
RABBITMQ_PORT=30000
RABBITMQ_USER=jullie_user
RABBITMQ_PASS=wachtwoord
RABBITMQ_VHOST=/
RABBITMQ_PREFIX=frontend.

DRUPAL_DB_HOST=frontend_db
DRUPAL_DB_NAME=drupal
DRUPAL_DB_USER=drupal_user
DRUPAL_DB_PASS=wachtwoord
DRUPAL_DB_ROOT_PASS=root_wachtwoord