{#
  form--registration-form.html.twig
  Rendert het registratieformulier; de auth-wrap layout staat in page.html.twig.
#}

{% if message %}
  <div style="margin-bottom:16px;">{{ message }}</div>
{% endif %}

<form{{ attributes.addClass('form-grid') }}>
  {{ children }}
  <p class="form-fine">
    {{ 'Door te registreren ga je akkoord met de festivalcode en ons gegevensbeleid.'|t }}
  </p>
</form>
